#
#

# Jetty section
application-host={{ nexus_host }}
application-port={{ nexus_port }}
nexus-context-path={{ nexus_context_path }}

# Nexus section
nexus-edition={{ nexus_edition }}
nexus-features=\
  {{ nexus_features }}